.travel-div {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 30px 30% 0 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.travel-btn {
  border-radius: 10px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #d7b6f3;
}

.travel-btn:hover {
  background-color: #f6ecff;
  color: white;
}

.travel-select {
  border-radius: 10px;
  background-color: #f6ecff; /* Green */
  border: none;
  width: 60%;
  color: white;
  padding: 10px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #d7b6f3;
}
