.purchase-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-page-passenger-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.purchase-page-customer {
  background-color: #fff;
  gap: 10px;
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-page-info{
  text-align: center;
  font-size: 15px;
}
